body {
  margin: 0px;
  font-family: "Faustina", serif;
}

p {
  font-size: 20px;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #ECC30B;
  border-radius: 0 0 30px 30px;
}

h1 {
  margin-right: auto;
  cursor: default;
}

nav {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: 700;
}

nav a {
  color: #423600;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

nav a:hover {
  color: #fffae3;
  transform: scale(1.05);
}

nav a:focus {
  color: #fffae3;
  transform: scale(1.05);
}


.ilteam:hover {
  color: #ECC30B;
}

.ilteam {
  text-align: center;
}

.chi-siamo {
  font-style: italic;
  text-align: center;
}

hr {
  margin: 100px;
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px #5FBFFF;
}

footer {
  background-color: #5FBFFF;
  border-top: 1px solid #16537b;
}

#social {
  background-color: #4c9fd5;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
}

#social span {
  font-size: 2rem;
  margin-right: 20px;
  cursor: default;
}

#social img {
  cursor: pointer;
}

#links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
}

#links span {
  cursor: default;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

li a {
  text-decoration: none;
  color: black;
}

.titolo {
  text-align: center;
}

.titolo:hover {
  display: block;
  color: #ECC30B;

}

h2 {
  text-align: center;

}

h2:hover {
  color: #5FBFFF;
}

.values {
  margin: 0px 40px;
  border: 0;
  box-shadow: 0 0 10px 1px #8a8a8a41;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-between;
}

.descrizione {
  font-weight: 900;
  position: absolute;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.descrizione:hover {
  background-color: white;
}

.prima {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: ;
}

.seconda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.terza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.quarta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.foto {
  opacity: 0.3;
}

.foto:hover {
  opacity: 1;
}

.container {
  margin: 50px;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 #5FBFFF;
  width: 100%;
}

.team {
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(MASE_Industries__3_-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  display: flex;
  flex-wrap: wrap;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  margin-top: 10px;

  align-content: center;
}

.lav {
  font-size: 50px;
  /*background-color: white;*/

}

.capitoli {
  margin: 10px;
  box-shadow: 0 0 20px 0px #0000001f;
  text-align: left;
  padding-left: 20px;
}

.capitoli:hover {
  background-color: rgb(236, 195, 11, 0.3);
}

.capitolo {
  margin: 10px;
  box-shadow: 0 0 20px 0px #0000001f;
  text-align: right;
  padding-right: 20px;
}

.capitolo:hover {
  background-color: rgb(236, 195, 11, 0.3);

}

.mission {
  text-align: right;
}

.vision {
  text-align: left;
  margin-right: 0;
}

.competenze {
  margin: 50px;
}