
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-color: #ECC30B;
    border-radius: 0 0 30px 30px;
}
nav {
    display: flex;
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a {
    color: #423600;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    color: #fffae3;
    transform: scale(1.05);
}

nav a:focus {
    color: #fffae3;
    transform: scale(1.05);
}

body{
   
    font-family: "Faustina", serif;
    margin: 0;
}
.flex-h1{
    display: flex;
    justify-content: center;
    border:solid;
    

}
h1 {
    margin-right: auto;
    cursor: default;
  
}
.flex-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 10;
    margin-bottom: 10;
}
.flex-gallery>img{
    margin: 30px;
    padding: 20px;
    border: 10px solid #000000;
    
   
}
.img{border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 400;
}
p{
    padding: 20px;
    
}
div.desc {
    padding: 15px;
    text-align: center;
  }
  h1{
    text-align: center;
  }
  footer {
    background-color: #5FBFFF;
    border-top: 1px solid #16537b;
}

#social {
    background-color: #4c9fd5;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 15px;
}

#social span {
    font-size: 2rem;
    margin-right: 20px;
    cursor: default;
}

#social img {
    cursor: pointer;
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

#links span {
    cursor: default;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

li a {
    text-decoration: none;
    color: black;
}
